<!-- container for graphical editor -->
			<div id="graphicalEditor">
				<div id="stateMachineToolbar" >
					<button class="btn btn-danger" id="startEmulink"    > New Diagram </button>
					<button class="btn" id="specificationToDiagram"     > Generate Diagram from Specification </button>
                    <button class="btn btn-default" id="startSimulation"> Enable Animation</button>
				</div>
                <div id="modifyPropertiesToolbar" >
                    <button id="button_state"   > New State </button>
                    <button id="changeNameNode" > Edit State Name</button> 
                    <button id="addFieldState"  > Add Field</button> 
					<br><br>
                    <button id="button_transition" > New Transition </button>
                    <button id="button_self_transition" > New Self-Transition </button>
                    <button id="button_default_transition" > New Default Transition </button>
                    <button id="changeNameEdge" > Edit Transition Name</button>
                    <button id="addCondition"   > Add Condition</button>
                    <button id="addOperation"   > Add Action</button>
                </div><br>
				<div id="ContainerStateMachine" ></div>
				<div id="state_machine_toolbar" ></div>
					<textarea id="emulinkInfo" readonly> </textarea>
					<textarea id="infoBox" readonly >TIP: Select a state or a transition to see its properties</textarea>
					<textarea id="infoBoxModifiable" readonly ></textarea>		
		            <textarea id="warningDebug" readonly >Warning debug </textarea>
				</div>
			</div>			
