<!-- container for graphical editor -->
			<div id="graphicalEditor">
				<div id="stateMachineToolbar" >
					<button class="btn btn-danger" id="startEmulink"    > New Diagram </button>
					<button class="btn" id="specificationToDiagram"     > Generate Diagram from Specification </button>
                    <button class="btn btn-default" id="startSimulation"> Enable Animation</button>
				</div>
                <div id="modifyPropertiesToolbar" >
                    <button id="button_state" disabled = "true"  > New State </button>
                    <button id="changeNameNode" disabled = "true"> Edit State Name</button> 
                    <button id="addFieldState"  disabled = "true"> Add Field</button> 
                    <button id="deleteNode"    disabled= "true"> Delete node </button>
					<br><br>
                    <button id="button_transition" disabled = "true"> New Transition </button>
                    <button id="button_self_transition" disabled = "true"> New Self-Transition </button>
                    <!-- <button id="button_default_transition" disabled = "true"> New Default Transition </button> -->
                    <button id="deleteEdge" disabled = "true" > Delete edge </button>
                    <button id="changeNameEdge" disabled = "true" > Edit Transition Name</button>
                    <button id="addCondition"  disabled = "true" > Add Condition</button>
                    <button id="addOperation" disabled = "true"  > Add Action</button>
                </div><br>
				<div id="ContainerStateMachine" ></div>
				<div id="state_machine_toolbar" ></div>
					<textarea id="emulinkInfo" readonly> </textarea>
					<textarea id="infoBox" readonly >TIP: Select a state or a transition to see its properties</textarea>
					<textarea id="infoBoxModifiable" readonly ></textarea>		
		            <textarea id="warningDebug" readonly >Warning debug </textarea>
				</div>
			</div>			
