<div class="EmuchartTableHeader" style="cursor: default;"><span>{{table_name}}</span></div>
<table class="table" style="margin-bottom:0 !important; margin-left:2px !important;">
<tbody><tr id="heading" class="TableHeading" style="margin-left:0">{{#each attributes}}
    <th style="cursor: default;">{{name}}</th>{{/each}}
    <th></th>
    <th class="width32"><span id="Add{{table_name}}" class="table-add glyphicon glyphicon-plus"></span></th>
</tr></tbody></table>
</div>
