div.contextmenu {
    list-style: none;
    list-style-type: none;
    background: white;
    padding: 5px;
    border-radius: 5px;
    min-width: 150px;
    border: 1px solid #ccc;
    cursor:default;
    position: absolute;
}

.contextmenu li {
    padding: 5px 15px;
    font-size: 14px;
    font-family: lancelot, georgia, "courier new";
}

.contextmenu li:hover, .node:hover {
    background: #abdbf2;
    border: none;
}

 ul {
    margin: 0;
    padding: 0;     
}
#tree li{
}

#tree{
    width: 350px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.node {
    width: 100%;
    cursor: pointer;
}

.treelist .node .label {
    color: black;
    display: inline-block;
    min-width: 40px;
}

.node.dirty {
    font-style: italic;
}


.node.selected {
    background: steelblue;
    color: #ddd;
    border: 1px solid #444;
}

.node.selected .label {
    color: white;
}

.node.selected .label:after {
    content: "";
    border-top: 14px solid #444;
    border-left: 14px solid transparent;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 0;
    height: 0;
    z-index: 20000;
}
