#pvsSpecification{
	position:       relative;
}

#graphicalEditor{
	position:       relative;
}

#content{
	width: 1130px;
	position: relative;
}

svg.image-map-layer{
	background: transparent;
}

label[for=selectPicture]{
	display: inline;
}

.hide{
	display:none;
}

div.downloader{
	width: 280px;
	background: white;
	padding: 50px;
}
.shadow{
	box-shadow: 0px 0px 30px 10px #444;
}
.downloader textarea{
	width: 280px;
	height: 250px;
}

.dialog{
	background: white;
	padding: 20px;
	width: 500px;
}
.overlay{
	position: absolute;
	top:0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 2000000;
	padding-top: 100px;
}
#header{
	height: 50px;
	padding: 15px;
	padding-left: 0px;
}
.center{
	margin-right: auto;
	margin-left: auto;
}

.right{
	float: right;
}

.left{
	float: left;
}

area{
	cursor: pointer;	
}

#controlsContainer a.status {
    padding:10px;
    text-decoration: none;
    color: #555;
}

#imageDiv{
	position: relative;
	border: 1px solid black;
	width: 910px;
}
#controlsContainer{
	position: relative;
	height: 50px;
    width: 910px;
}
#controlsContainer button.selected{
	top: -1px;
	height: 40px;
	border-top: none;
	background: white;
}

#controlsContainer button{
	height: 35px;
	border: 1px solid black;
	top: 1px;
	position:absolute;
	background: #ddd;
}

/**
source code ection styling
*/
#pvsFiles ul {
    list-style-type: none;
    margin: 0;
	padding:0;
}
.list-icon {
    display: inline-block;
    width: 14px;
    height:14px;
    margin-right:5px;
}
#sourcecode-editor-wrapper{
    width: 1130px;
    height: 400px;
   	position:relative;
}

#pvsFiles {
    position: absolute;
    display:inline-block;
    width: 200px;
    height: 380px;
    border: 1px solid #ddd;
    right: -9px;
  }

#editor{
	z-index: 30;
	width: 930px;
	height: 380px;
	border: 1px solid black;
    display: inline-block;
}

#pvsFiles .fileListItem {
    position:relative;
    padding: 3px 5px 3px 3px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
	overflow: hidden;
}

#pvsFiles.drag-over{
    border:3px dashed #393;
}
#pvsFiles .file-label {
    width: 150px;
    display: inline-block;
    overflow: hidden;
}
.fileListItem.dirty .list-icon-dirty{
    background-image:url(../bootstrap/img/glyphicons-halflings.png);
    background-position:-456px -96px;
}

.fileListItem.selected.dirty .list-icon-dirty{
    background-image:url(../bootstrap/img/glyphicons-halflings-white.png);
    background-position:-456px -96px;
}

.fileListItem.main-file .list-icon-main{
    background-position: -120px 0;
    background-image:url(../bootstrap/img/glyphicons-halflings.png);
}

.fileListItem.main-file.selected .list-icon-main{
    background-position: -120px 0;
    background-image:url(../bootstrap/img/glyphicons-halflings-white.png);
}
.fileListItem.selected {
    background: #444;
    color: #ddd;
    border: 1px solid #222;
    border-right:1px solid #444;
}

#pvsFiles .fileListItem.selected .file-label:after {
    content: "";
    border-top: 14px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 14px solid #444;
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 0px;
    width: 0;
    height: 0;
    z-index: 20000;
}
#editorToolbar{
    margin-bottom: 10px;   
    margin-top: 10px;   
}
/*** end source code section **/


#console {
	position: absolute;
	top:0px;
	right: -190px;
	height: 95%;
	width: 160px;
	color: white;
	background: #333;
	padding: 10px;
	font: 10px Arial;
}

#pvsio_commands_log {
	height:100px;
	overflow: scroll;
	color: lime;
	background: black;
	padding: 10px;
}

#btnSimulatorView{
	left: 100px;
}

.clear-both{
	clear:both;
}

.pvsio-log-container{
	float:left;
	width: 48%;	
	border: 10px solid white;
}

.displayvalue{
	color: white;	
	line-height: 1;
}

#pvsio_response_log {
	height:100px;
	overflow: scroll;
	color: lime;
	background: black;
	padding: 10px;
}

#prototypeImage {
	padding: 0;
	margin: 0;
	cursor: crosshair;
	background-repeat: no-repeat;
}

img {
	z-index: -2;
}

.mark {
	background: rgba(80, 80, 80, 0.2);
	cursor: move;
	border: 2px solid #555;
	position: absolute;
}

.selected {
	border: 3px solid orange;
}

.display{
	z-index: 3;
	text-align: center;
}

input[type=text]{
	width: 250px;
}

intput:invalid, select:invalid{
	border: 1px solid red;
}

.dndcontainer{
	background: white;
	text-align: center;
	position: absolute;
	border: 4px dashed teal;
	height: 98%;
	width: 99%;
	z-index: 999999;
}

#specDragAndDrop.dndcontainer{
    display:none;
}

.dndcontainer span{
	display:block;
	margin-top: 150px;
	width: 400px;
	font-size: 30px;
	font-family: Times, serif;
	line-height: 1.1;
	text-align: center;
}
.detailsForm {
	position: absolute;
	z-index: 200;
	background: white;
	padding: 30px;
	cursor: move;
}

div#logsDiv {
    display: none;
}

/***bootstrap overrides ***/
div#content select, div#content input, div#content textarea, div.detailsForm  input,
div.detailsForm select, div.detailsForm textarea{
	margin-bottom: 0px;
}
#body {
	margin-top: 20px;
}

.tab-content {
	margin-top: 20px;
}
