
<div id="content" class="center prototypebuilder">
	<div id="header" class="btn-group">
		<div id="projectTitle">
			<span id="txtProjectName"></span>
			<div class="pull-right">
				<a class="btn" id="newProject"><span class="glyphicon glyphicon-file"></span> New Project</a>
				<a class="btn" id="openProject"><span class="glyphicon glyphicon-folder-open"></span> Open Project</a>
				<a class="btn" id="btnLoadPicture"><span class="glyphicon glyphicon-picture"></span> Change Picture</a>
				<input type="file" class="hide" id="btnSelectPicture" name="selectPicture" accept="image/*">
				<a class="btn" id="btnSaveProject"><span class="glyphicon glyphicon-floppy-save"></span> Save Project</a>
				<a id="lblWebSocketStatus" class="btn status" style="cursor:default">WebSocket <span class="glyphicon glyphicon-ok"></span></a>
				<a id="lblPVSioStatus" class="btn status" style="cursor:default">PVSio <span class="glyphicon glyphicon-warning-sign"></span></a>

			</div>
		</div>
	</div>
	<div class="ljs-hcontent content-body">
		<div class="ljs-hcontent">
		
			<div id="body">
				
			</div>
		</div>
		<div id="rightPanel" class="ljs-right">
            <div id="project-notifications">
	
            </div>
			<div class="plugins-group">
				<div class="header">Plugins</div>
				<ul>
					{{#each plugins}}
					<li class="list-group-item">
						<input type="checkbox" name="{{label}}" id="plugin_{{label}}" style="cursor:pointer">
						<label for="plugin_{{label}}" style="cursor:pointer">{{label}}</label>
					</li>
					{{/each}}
				</ul>
			</div>
			<div>
				<div id='console'></div>
				<!-- container for specification source code -->
				<div id="scripts"> 
					<ul class="list-group">

					</ul>
				</div>
			</div>
		</div>
	</div>
	
</div>
<map name="prototypeMap" id="prototypeMap"></map>
<div id="audio"></div>
