#controlsContainer a.status,
#listContainer a.status {
    padding: 10px;
    text-decoration: none;
    color: #555;
}

#imageDiv {
    position: relative;
}

#controlsContainer {
    position: relative;
    height: 50px;
    min-width: 400px;
}

.dndcontainer {
    background: $color-bg-lighter;
    text-align: center;
    position: absolute;
    border: 4px dashed teal;
    height: 100%;
    width: 100%;
    z-index: 191;
    min-width: 400px;
}

#specDragAndDrop.dndcontainer {
    display: none;
}

.dndcontainer span {
    display: block;
    margin-top: 150px;
    width: 400px;
    font-size: 30px;
    font-family: Times, serif;
    line-height: 1.1;
    text-align: center;
}

svg.image-map-layer {
    background: transparent;
}

area {
    cursor: pointer;
}

label[for=selectPicture] {
    display: inline;
}
