.console_log{
    text-align: left;
    height:300px;
    overflow: auto;
    color: lime;
    background: black;
    font-size: small;
    margin-top: 20px;
    padding-left: 10px;
    white-space: pre-wrap;
}

body{
    font-family: 'Andale Mono', AndaleMono, monospace;
}

