<div class="ljs-left prototype-sidebar">
    <div class="widgets">Widgets</div>
    <div class="prototype-list-container"></div>
</div>
<div class="ljs-hcontent">
    <div class="prototype-controls-container">
        <ul class="nav nav-tabs nav-tabs-solid" role="tablist">
            <li class="active">
                <a href="#!">Builder View</a>
            </li>
            <li>
                <a href="#!">Simulator View</a>
            </li>
        </ul>
    </div>
    <div class="prototype-image-container">

    </div>
</div>
<div class="panel-footer">
</div>
