<button type="button" class="btn btn-default dropdown-toggle btn-screen-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<span class="btn-screen-dropdown_label">Select screen</span>
	<span class="caret"></span>
</button>
<ul class="dropdown-menu screen-dropdown">
</ul>
