body{
	width: 1130px;
}
area{
	cursor: pointer;	
}

#imageDiv{
	border-bottom: 1px solid black;
	width: 1045px;
	padding-bottom: 20px;
}
#controlsContainer{
	position: relative;
	height: 50px;
}
#controlsContainer button.selected{
	top: -1px;
	height: 40px;
	border-top: none;
	background: white;
}

#controlsContainer button{
	height: 35px;
	border: 2px solid black;
	top: 1px;
	position:absolute;
	background: #ddd;
}

#editor{
	z-index: 30;
	width: 1130px;
	height: 800px;
	border: 1px solid black;
}

#console {
	position: absolute;
	top:8px;
	color: white;
	background: #333;
	padding: 10px;
	font: 10px Arial;
}

#pvsio_commands_log {
	height:200px;
	overflow: scroll;
	color: lime;
	background: black;
	padding: 10px;
}

#btnSimulatorView{
	left: 100px;
}

.clear-both{
	clear:both;
}

.pvsio-log-container{
	float:left;
	width: 50%;	
}

.displayvalue{
	color: white;	
}

#pvsio_response_log {
	height:200px;
	overflow: scroll;
	color: lime;
	background: black;
	padding: 10px;
}

#prototypeImage {
	padding: 0;
	margin: 0;
	background-image: url("../image/alaris-syringe-driver.jpg");
	cursor: crosshair;
}

img {
	position: absolute;
	z-index: -2;
}

.mark {
	background: rgba(80, 80, 80, 0.2);
	cursor: move;
	border: 2px solid #777;
	position: absolute;
}

.selected {
	border: 3px solid orange;
}

.display{
	z-index: 3;
	text-align: center;
}

.detailsForm {
	width: 230px;
	position: absolute;
	z-index: 200;
	box-shadow: 0px 0px 30px 10px #444;
	background: white;
	padding: 30px;
}