area{
	cursor: pointer;	
}

#imageDiv{
	border-bottom: 1px solid black;
	width: 1045px;
	padding-bottom: 20px;
}
#controlsContainer{
	position: relative;
}
#controlsContainer button.selected{
	top: -1px;
	height: 40px;
	border-top: none;
	background: white;
}

#controlsContainer button{
	height: 35px;
	border: 2px solid black;
	top: 1px;
	position:absolute;
	background: #ddd;
}

#editor{
	z-index: 30;
	width:1320px;
	height: 800px;
	border: 1px solid black;
}
#GIP-rate {
	position:absolute;
	float: right;
	text-align: center;
	left:382px;
	top:95px;
	font: bold 50px Arial;
	z-index: 1;
	width: 366px;
	height: 69px;
}

#GIP-cmd {
	position:absolute;
	float: right;
	text-align: right;
	left:708px;
	top:201px;
	font: bold 12px Arial;
	z-index: 2;
	width: 68px;
	color: #FFFFFF;
	height: 21px;
}

#console {
	position: absolute;
	left: 1070px;
	top: 10px;
	width: 230px;
	height: 204px;
	color: white;
	background: #333;
	padding: 10px;
	font: 10px Arial;
}

#pvsio_commands_log_Container {
	position:absolute;
	left:6px;
	top:300px;
}

#pvsio_commands_log {
	width:581px;
	height:200px;
	overflow: scroll;
	color: lime;
	background: black;
	padding: 10px;
}

#btnSimulatorView{
	left: 100px;
}

#pvsio_response_log_Container {
	position:absolute;
	left:641px;
	top:300px;
}

#pvsio_response_log {
	width:660px;
	height:200px;
	overflow: scroll;
	color: lime;
	background: black;
	padding: 10px;
}

#specification_log_Container {
	position:absolute;
	left:6px;
	top:600px;
}

#specification_log {
	width:1280px;
	height:638px;
	overflow: scroll;
	color: lime;
	background: black;
	padding: 10px;
}

#GIPconsole {
	position:absolute;
	left:10px;
	top:325px;
	width:1280;
	height:159px;
	overflow: scroll;
	color: lime;
	background: black;
	padding: 10px;
}
#prototypeImage {
	padding: 0;
	margin: 0;
	background-image: url("../image/image.png");
	width: 1045px;
	cursor: crosshair;
	height: 225px;
}

img {
	position: absolute;
	z-index: -2;
}

.mark {
	background: rgba(80, 80, 80, 0.2);
	cursor: move;
	border: 2px solid #777;
	position: absolute;
}

.selected {
	border: 3px solid orange;
}

.display{
	z-index: 3;
}

.detailsForm {
	width: 230px;
	position: absolute;
	z-index: 200;
	box-shadow: 0px 0px 30px 10px #444;
	background: white;
	padding: 30px;
}