#content{
	width: 1130px;
	position: relative;
}

div.downloader{
	width: 280px;
	background: white;
	padding: 50px;
}
.shadow{
	box-shadow: 0px 0px 30px 10px #444;
}
.downloader textarea{
	width: 280px;
	height: 250px;
}
.overlay{
	position: absolute;
	top:0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 2000;
	padding-top: 100px;
}
#header{
	height: 50px;
	padding: 15px;
	padding-left: 0px;
}
.center{
	margin-right: auto;
	margin-left: auto;
}

.right{
	float: right;
}

.left{
	float: left;
}

area{
	cursor: pointer;	
}

#imageDiv{
	position: relative;
	border: 1px solid black;
	width: 1045px;
	height: 200px§
}
#controlsContainer{
	position: relative;
	height: 50px;
}
#controlsContainer button.selected{
	top: -1px;
	height: 40px;
	border-top: none;
	background: white;
}

#controlsContainer button{
	height: 35px;
	border: 1px solid black;
	top: 1px;
	position:absolute;
	background: #ddd;
}

#editor{
	z-index: 30;
	width: 1130px;
	height: 800px;
	border: 1px solid black;
}

#console {
	position: absolute;
	top:0px;
	width: 160px;
	color: white;
	background: #333;
	padding: 10px;
	font: 10px Arial;
}

#pvsio_commands_log {
	height:100px;
	overflow: scroll;
	color: lime;
	background: black;
	padding: 10px;
}

#btnSimulatorView{
	left: 100px;
}

.clear-both{
	clear:both;
}

.pvsio-log-container{
	float:left;
	width: 48%;	
	border: 10px solid white;
}

.displayvalue{
	color: white;	
}

#pvsio_response_log {
	height:100px;
	overflow: scroll;
	color: lime;
	background: black;
	padding: 10px;
}

#prototypeImage {
	padding: 0;
	margin: 0;
	background-image: url("../image/start.png")  ;
	cursor: crosshair;
	background-repeat: no-repeat;
}

img {
	position: absolute;
	z-index: -2;
}

.mark {
	background: rgba(80, 80, 80, 0.2);
	cursor: move;
	border: 2px solid #777;
	position: absolute;
}

.selected {
	border: 3px solid orange;
}

.display{
	z-index: 3;
	text-align: center;
}

input[type=text]{
	width: 250px;
}

.detailsForm {
	position: absolute;
	z-index: 200;
	background: white;
	padding: 20px;
}