<div id="prototypeEditor">
    <div id="imageDragAndDrop" class="dndcontainer">
        <span class="center">Drag user interface picture here or if you prefer, use the button below</span>
        <br/>
        <button class="btn btn-primary center" id='btnLoadPicture'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Load Picture&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </button>
<!--
        <button class="btn btn-success center" id='btnEditStoryboard'>
            Create Storyboard</button>
-->
    </div>
    <img src="" usemap="#prototypeMap" />
</div>
