<form class="center dialog shadow form-horizontal" onsubmit="return false" role="form">
	<legend>New Project</legend>
	<div class="form-group">
		<label for="selectedFiles" class="col-sm-4 control-label">Open Files</label>
		<div class="col-sm-8">
			<input id="selectedFiles" class="form-control" type="file" value="" name="selectedFiles" required="true" multiple="true">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<button type="button" class="btn btn-danger left" id="btnCancel">Cancel</button>
			<button type="submit" class="btn btn-success right" id="btnOk">OK</button>
		</div>

	</div>
</form>
