.toolkit-toolbar .btn {
    color: white;
}
.toolkit-toolbar .btn:hover {
    background-color: black;
}
.toolbar {
    padding: 10px 15px;
    background-color: #f5f5f5;
}
.card-header {
    font-size: small;
}
.btn {
    overflow: hidden;
    white-space: nowrap;
}