<div>
    <ul class="list-group">
        {{#each scripts}}
        <li class="list-group-item glyphicon glyphicon-play" name={{name}}>{{name}} <span class="badge">{{time}}</span></li>
        {{/each}}
    </ul>
</div>