<div id='pvsSpecification'>
	<div id="editorToolbar">
		<button class="btn btn-primary" id="btnTypeCheck">Compile</button>
<!--
		<button class="btn" id="new_file">New File</button>
-->
		<button class="btn" id="btnImportFiles">Import Files</button>
		<button class="btn" id="btnSetMainFile"><i class="icon-star"></i> Set As Main File</button>
		<button class="btn" id="btnSaveFile">Save Selected File</button>
		<button class="btn" id="btnSaveAll">Save All Files</button>
<!--		<button class="btn btn-warning" id="btnTypeCheck">TypeCheck</button> -->
        <div id="editor-notification-area"></div>
	</div>
	<div id="sourcecode-editor-wrapper">
		<div id="specDragAndDrop" class="dndcontainer">
			<span class="center">Drag PVS file here or if you prefer, use the button below</span>
			<br/>
			<a class="btn btn-primary center" id='btnLoadSpec'><i class="icon-file-white"></i>Load Spec</a>
			<input type="file" class="hide" id="btnSelectSpec" name="selectSpec">
		</div>
		<div id="pvsFiles" style="padding-top: 1px; padding-left: 2px; padding-right: 2px; padding-bottom: 1px;"></div>
		<div id="editor"></div>
	</div>
</div>