// Classes that can either be @extend-ed from other files or used directly on elements (i.e. as modifier classes)

%dark-hover {
    &:hover {
        background: $color-bg-darker;
        color: $color-fg-light;
    }
}

.noselect {
    user-select: none;
}

.hide {
    display: none;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.right {
    float: right;
}

.left {
    float: left;
}

.shadow {
    box-shadow: 0 0 40px 0 rgba(#444, 0.8);
}
